/* Styling for the Portfolio section */
.portfolio-section {
    background-color: #e1ecf4; /* Background color for the section */
    padding: 80px 0; /* Vertical and horizontal padding */
    text-align: center;
  }
  
  .container {
    max-width: 1200px; /* Adjust the maximum width as needed */
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .portfolio-heading {
    font-size: 36px; /* Heading font size */
    color: #333; /* Heading text color */
    margin-bottom: 30px;
  }
  
  .portfolio-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px; /* Add spacing between portfolio items */
  }
  
  .portfolio-item {
    flex-basis: calc(33.33% - 20px); /* Adjust the item width as needed */
    background-color: #e1ecf4; /* Background color for each item */
    padding: 20px;
    border-radius: 10px; /* Rounded item corners */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Add a subtle shadow to items */
    text-align: left;
    transition: transform 0.3s ease;
  }
  
  .portfolio-item:hover {
    transform: translateY(-5px); /* Add a slight upward lift on hover */
  }
  
  .portfolio-image {
    max-width: 100%; /* Make sure images fit within their containers */
    border-radius: 10px; /* Rounded image corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a subtle shadow to images */
  }
  
  .portfolio-title {
    font-size: 24px; /* Portfolio item title font size */
    margin-top: 10px;
  }
  
  .portfolio-description {
    font-size: 16px; /* Portfolio item description font size */
    margin-top: 10px;
  }
  
  .portfolio-link {
    display: block;
    margin-top: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #1770b0; /* Link color */
    transition: color 0.3s ease;
  }
  
  .portfolio-link:hover {
    color: #ff5733; /* Link color on hover */
  }
  